body {
    background-color: #2B5E7A;
    color: #E7E6DE;
}

.image{
    border: 5px solid #C3C2B8;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: #E7E6DE;
    border: 1px solid #C3C2B8;
    background-color: #A09F92;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #A09F92;
}