body {
    background-color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #2B5E7A;
    color: #E7E6DE;
}

.image {
    background-color: black;
    border: 5px solid #C3C2B8;
    border-radius: 10px;
    width: 600px;
    max-width: 600px;
    height: 500px;
    max-height: 500px;
    object-fit: contain;
    aspect-ratio: 16/9;
}

.link-button {
    text-decoration: none;
    color: #E7E6DE;
    border: 1px solid #C3C2B8;
    background-color: #A09F92;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}


h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
}

footer {
    background-color: black;
    height: 4 em;
}

.padre{
    display: flex;  
}

.contenedor-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 20px 50px;
}

.contenedor-texto .link-button{
    position: relative;
    top: 50%;
}